:root {
    --primary-1primary: rgba(255, 84, 24, 1);
    --bg-textframe-icontext: rgba(113, 97, 134, 1);
    --bg-textframe-iconframe: rgba(82, 53, 112, 1);
    --input-background-hover: rgba(48, 28, 74, 1);
    --bg-textframe-icontext-icon: rgba(232, 231, 235, 1);
    --roboto-button-semi1-font-family: "Roboto", Helvetica;
    --roboto-button-semi1-font-weight: 600;
    --roboto-button-semi1-font-size: 16px;
    --roboto-button-semi1-letter-spacing: 0px;
    --roboto-button-semi1-line-height: 120.00000476837158%;
    --roboto-button-semi1-font-style: normal;
    --inter-body-REG-font-family: "Inter", Helvetica;
    --inter-body-REG-font-weight: 400;
    --inter-body-REG-font-size: 20px;
    --inter-body-REG-letter-spacing: -0.4px;
    --inter-body-REG-line-height: 120.00000476837158%;
    --inter-body-REG-font-style: normal;
    --inter-h1-font-family: "Inter", Helvetica;
    --inter-h1-font-weight: 700;
    --inter-h1-font-size: 16px;
    --inter-h1-letter-spacing: 0px;
    --inter-h1-line-height: normal;
    --inter-h1-font-style: normal;
  }
  